:root {
  --primary-color-hue: 28;
  --dark-color-lightness: 17%;
  --light-color-lightness: 95%;
  --white-color-lightness: 100%;

  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 100%, 60%);
  --color-secondary: hsl(252, 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-black: hsl(252, 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: var(--color-dark);
  background: var(--color-white);
  display: flex;
  gap: 1rem;
  overflow-x: hidden;
  /* font-family: 'Roboto', sans-serif; */
}

.container {
  width: 80%;
  /* width: 50%; */
  margin: 0 auto;
}

.active {
  color: var(--color-primary);
}


/* *************** NAV PANEL *************** */
.nav-panel a {
  margin: 0 auto;
  transition: transform 0.2s ease;
}
.logo {
  width: 45px;
}

.nav-panel a:hover {
  transform: scale(0.9);
}

.hamburger {
  display: none;
}

nav {
  /* position: absolute; */
  background-color: var(--color-light);
  height: 100vh;
  width: 50px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
  position: sticky;
  top: 0rem;

  box-shadow: 0px 2px 2px 0px rgba(153, 153, 153, 1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(153, 153, 153, 1);
  box-shadow: 0px 2px 2px 0px rgba(153, 153, 153, 1);
}

.sm-nav-width {
  width: 50px;
}

.bg-nav-width {
  width: 150px;
}

.lg-nav-width {
  width: 100vw;
}

.lg-nav-height {
  height: 100vh;
}

.nav-panel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
}

.nav-items {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-left: 15px;
}

.nav-items li, .sign-out {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  cursor: pointer;
  transition: transform all .2s;
  /* margin: auto; */
}

.nav-items li:hover {
  transform: scale(0.9);
}

#closeBtn {
  width: max-content;
  margin: 0;
  margin-left: 90%;
  display: none;
}

#menuBtn {
  width: max-content;
}

.hamburger {
  width: max-content;
  margin: 0;
  color: var(--color-black);
}

#menuBtn:hover, #closeBtn:hover, .hamburger:hover {
  color: var(--color-white);
  background: var(--color-black);
  cursor: pointer;
}

.sign-out:hover {
  color: var(--color-danger);
}


/* *************** MAIN *************** */
main {
  width: 85%;
  flex-grow: 1;
  padding: 2rem 1rem;
}

/* TOP */

main .top {
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: var(--search-padding);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.top .name {
  color: var(--color-primary);
  font-weight: 600;
}

main .top .right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.num-in-cart {
  position: absolute;
}

#cartItems {
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 0.7rem;
  padding-top: 0.2rem;
  /* margin: auto; */
  color: var(--color-white);
  background-color: var(--color-primary);
  border-radius: 50%;
  top: 50%;
  left: 0.7rem;
  transform: translateY(-100%);
  z-index: 2;
}

/* MIDDLE */
main .middle {
  width: 100%;
  margin: 2rem 0;
  display: 	flex;
  justify-content: space-between;
}


/* Search box */
.box {
  position: relative;
}
.box .material-icons {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  pointer-events: none;
}
.search {
  padding: 0.85rem 2rem;
  border: 2px solid var(--color-gray);
  border-radius: 5px;
  width: 18rem;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.search:focus {
  border: 2px solid var(--color-primary);
  padding-left: 2.8rem;
  transition: 0.3s;
}

/* Category filter */
.middle .cat-list {
  display: flex;
  gap: 0.2rem;
}

.cat-list li {
  background-color: transparent;
  color: var(--color-primary);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  transition: transform all 0.3s ease;
}

.cat-list li:hover {
  /* opacity: 0.7; */
  transform: scale(0.9);
}

.cat-list .active {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.cat-list .active:hover {
  opacity: 0.9;
}

.middle .cat-dropdown {
  display: none;
}

/* ********** DISH LIST ********** */
.content {
  margin: auto;
  width: 100%;
}

.food-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
}

.dish {
  height: 100%;
  width: 258px;
  box-shadow: 0 0 1px 0.4px var(--color-light);
  /* border: 1px solid var(--color-danger); */
  /* border-radius: var(--card-border-radius); */
  box-sizing: border-box;
  border-radius: 0.5rem;
  transition: .5s;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 300px;
  position: relative;
}
/* .dish:last-child {
  flex-grow: 0;
} */

/* .dish::before {
  content: "recipe";
  color: var(--color-white);
  display: block;
  width: 25%;
  height: 2rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 15%;
  background: linear-gradient(transparent, rgba(35, 95, 30, 0.9));
  position: absolute;
  bottom: 1;
  right: 0;
  z-index: 11;
  cursor: pointer;
} */

.food-pic {
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.food-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .8s ease;
}

.food-pic:hover img {
  transform: scale(1.1);
  overflow: hidden;
}

.recipe {
  position: absolute;
  color: var(--color-white);
  font-family: cursive;
  /* display: block; */
  width: 70px;
  height: 3rem;
  padding: 0.9rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: linear-gradient(transparent, rgba(8, 44, 6, 0.9));
  top: 10%;
  right: 0;
  z-index: 13;
  cursor: pointer;
  text-align: center;
  transition: .5s ease;
}

.recipe:hover {
  color: var(--color-primary);
}

.food-details {
  padding: 0.5rem;
}

.food-details .title {
  font-weight: 500;
}

.food-details .price {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 0;
  padding-bottom: 1.5rem;
}

.food-details .add2cart {
  font-size: 1rem;
  color: var(--color-white);
  opacity: 1;
  padding: 0.8rem 0;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all .2s;
}

.food-details .add2cart:hover {
  opacity: 0.9;
}

/* ******************** ---------- ********************
***************        MEDIA QUERIES   ************* */

/* SMALL TABLETS */

@media screen and (max-width: 1065px) {
  body {
    background-color: var(--color-white);
  }

  .middle .cat-row {
    display: none;
  }

  .middle .cat-dropdown {
    display: block;
  }

  .cat-dropdown .dropdown-btn {
    font-size: 1.2rem;
    padding: 0.4rem 2rem;
    border: 2px solid var(--color-gray);
    background-color: var(--color-white);
    border-radius: 5px;
    width: 18rem;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .cat-dropdown .dropdown-btn:hover {
    background-color: var(--color-light);
  }

  .cat-dropdown  .material-icons {
    font-size: 1.8rem;
  }

  .cat-items {
    font-size: 1rem;
    position: absolute;
    width: 18rem;
    margin-top: 0.2rem;
    background-color: var(--color-light);
    z-index: 18;
    display: none;
  }

  .cat-items li {
    padding: 0.8rem 2rem;
    border-bottom: 1px solid var(--color-gray);
    cursor: pointer;
  }
  .cat-items li:last-child {
    border-bottom: none;
  }

  .cat-items li:hover {
    text-decoration: underline;
    background-color: var(--color-primary)
  }

  .food-list {
    justify-content: center;
  }
}


/* MOBILE PHONES - BIG SCREEN */
@media screen and (max-width: 815px) {
  body {
    background-color: var(--color-white);
  }

  main .middle {
    flex-direction: column;
    gap: 2rem;
  }

  .middle .search, .middle .dropdown-btn {
    width: 100%;
  }
}


/* MOBILE PHONES - MEDIUM SCREEN */
@media screen and (max-width: 700px) {
  body {
    background-color: var(--color-white);
  }

  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    transition: all .3s ease;
  }

  nav {
    /* height: 85vh; */
    height: 8vh;
    width: 100vw;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    position: fixed;
    top: 0rem;
    z-index: 25;
    transition: all 0.3s ease;

    box-shadow: 0px 2px 2px 0px rgba(153, 153, 153, 1);
    -moz-box-shadow: 0px 2px 2px 0px rgba(153, 153, 153, 1);
    box-shadow: 0px 2px 2px 0px rgba(153, 153, 153, 1);
  }

  .nav-items li {
    border-bottom: 1px solid var(--color-gray);
  }

  .nav-items li:first-child {
    border-bottom: none;
  }

  .logo {
    width: 30px;
    margin: 0 auto;
  }

  main {
    position: relative;
    top: 50px;
  }
  main .top {
    font-size: 1rem;
    position: sticky;
    top: 53px;
    padding: 0.5rem;
    border-radius: 2px;
  }

  main .top .right .material-icons {
    font-size: 1.1rem;
  }

  #cartItems {
    position: absolute;
    width: 18px;
    height: 18px;
    font-size: 0.6rem;
    padding: 0.2rem;
    left: 0.5rem;
  }

  main .middle {
    flex-direction: row;
  }

  .middle .search, .middle .dropdown-btn, .cat-items {
    width: 12rem;
  }
}


/* MOBILE PHONES - SMALL SCREEN */
@media screen and (max-width: 480px) {
  body {
    width: 100vw;
    font-size: 0.8rem;
    margin: 0 auto;
    background-color: var(--color-black);
  }

  main .middle {
    flex-direction: column;
  }

  .middle .search, .middle .dropdown-btn, .cat-items {
    width: 100%;
  }

  .content {
    margin: auto;
    width: 90%;
  }

  .food-list {
    gap: 1rem;
  }

  .dish {
    height: 100%;
    width: 180px;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 200px;
  }

  .food-pic {
    height: 125px;
  }

  .recipe {
    font-size: 0.6rem;
    width: 50px;
    height: 2rem;
    padding: 0.4rem;
    top: 2%;
  }

  .food-details .price {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 0;
    padding-bottom: 0.8rem;
  }

  .food-details .add2cart {
    font-size: 0.8rem;
    padding: 0.4rem 0;
  }
}

/* h1 {
  color: #6ed415;
}
h2 {
  color: var(--color-danger);
} */

